<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assests/scss/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
  </head>
  <body>
    <section class="about-hero-section">
      <div class="ban-overlay">
        <header>
          <nav class="custom-nav">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="menus">
                    <ul class="d-flex m-list">
                      <li class="n-link">
                        <a href="../index.html">HOME</a>
                      </li>
                      <li class="n-link">
                        <a href="about.html">ABOUT US</a>
                      </li>
                      <li class="n-link">
                        <a href="latest-developments.html">DEVELOPMENTS</a>
                      </li>
                      <li class="n-link">
                        <a href="health-fitness.html">HEALTH & FITNESS</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="nav-logo text-center">
                    <a href="../index.html"
                      ><img
                        src="../assests/images/logo.png"
                        alt="logo"
                        width="133"
                    /></a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="menus">
                    <ul class="d-flex m-list">
                      <li class="n-link">
                        <a href="gallery.html">GALLERY</a>
                      </li>
                      <li class="n-link">
                        <a href="shop.html">SHOP</a>
                      </li>
                      <li class="n-link">
                        <a href="events.html">EVENTS</a>
                      </li>
                      <li class="n-link">
                        <a href="contact.html">CONTACT US</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>

        <section class="hero-banner">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="banner-txt-heading">
                  <div>
                    <h1>ABOUT US</h1>
                    <div class="banner-heading-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section class="mission-vision-value">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <h2 class="heading">
              You Can Transform <br />
              Health Through Habit Change!
            </h2>
            <div class="heading-line"></div>
            <p class="text">
              Eu mi bibendum neque egestas congue quisque egestas diam in.
              Integer malesuada nunc vel risus commodo viverra maecenas.
              Placerat orci nulla pellentesque dignissim enim sit amet venenatis
              urna. Urna duis convallis convallis tellus id.
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <div class="single-speciality me-4 text-center">
              <img src="../assests/images/leadership.png" alt="leadership" />
              <h6>Mission</h6>
              <p class="text">
                Ultricies leo integer malesuada nunc. Enim facilisis gravida
                neque convallis a cras. Tempus quam pellentesque nec nam aliquam
                sem.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-speciality mx-2 text-center">
              <img src="../assests/images/target.png" alt="leadership" />
              <h6>Vision</h6>
              <p class="text">
                Ultricies leo integer malesuada nunc. Enim facilisis gravida
                neque convallis a cras. Tempus quam pellentesque nec nam aliquam
                sem.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-speciality ms-4 text-center">
              <img src="../assests/images/value.png" alt="leadership" />
              <h6>Values</h6>
              <p class="text">
                Ultricies leo integer malesuada nunc. Enim facilisis gravida
                neque convallis a cras. Tempus quam pellentesque nec nam aliquam
                sem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-team">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <h1 class="heading">OUR TEAM</h1>
            <div class="heading-line"></div>
            <p class="text">
              With over 100 years’ worth of combined experience in the sports
              sector, our team brings together a resourceful team of individuals
              with passion in sports and community development.
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <div class="one-tm mb-5 me-5">
              <img src="../assests/images/godfrey.png" alt="fre" />
              <div class="p-5 text-center">
                <h4>GODFREY SSEMBEGUYA</h4>
                <span>Managing Director</span>
                <p class="text">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="one-tm mb-5 ms-5">
              <img src="../assests/images/lau.png" alt="fre" />
              <div class="p-5 text-center">
                <h4>Director Communication</h4>
                <span>Managing Director</span>
                <p class="text">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="one-tm mb-5 me-5">
              <img src="../assests/images/tho.png" alt="fre" />
              <div class="p-5 text-center">
                <h4>THOMAS MURUKA OCHOLA</h4>
                <span>Deputy Managing Director</span>
                <p class="text">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="one-tm mb-5 ms-5">
              <img src="../assests/images/mose.png" alt="fre" />
              <div class="p-5 text-center">
                <h4>MOSES SILVA KABUGO</h4>
                <span>General Secretary</span>
                <p class="text">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="one-tm me-5">
              <img src="../assests/images/fre.png" alt="fre" />
              <div class="p-5 text-center">
                <h4>FRED KAWEESI</h4>
                <span>Director Managing</span>
                <p class="text">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="what-they-say">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="heading">WHAT THEY SAY</h2>
            <div class="heading-line"></div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="wts">
            <div class="owl-carousel owl-theme" id="what-they-say">
              <div class="item">
                <div class="single-wts">
                  <p class="c-cmt">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore” “et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas accumsan lacus vel facilisis.
                  </p>
                  <div class="writer">
                    <div class="wimg">
                      <img src="../assests/images/michael.png" alt="michael" />
                    </div>
                    <div class="wdetail">
                      <span>Michael</span>
                      <p>Player</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="single-wts">
                  <p class="c-cmt">
                    “Ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore” “et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas accumsan lacus vel facilisis.
                  </p>
                  <div class="writer">
                    <div class="wimg">
                      <img src="../assests/images/michael.png" alt="michael" />
                    </div>
                    <div class="wdetail">
                      <span>Michael</span>
                      <p>Player</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="single-wts">
                  <p class="c-cmt">
                    “Dolor sit amet, hst consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore” “et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas accumsan lacus vel facilisis.
                  </p>
                  <div class="writer">
                    <div class="wimg">
                      <img src="../assests/images/michael.png" alt="michael" />
                    </div>
                    <div class="wdetail">
                      <span>Michael</span>
                      <p>Player</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="single-wts">
                  <p class="c-cmt">
                    “Amet ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore” “et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas accumsan lacus vel facilisis.
                  </p>
                  <div class="writer">
                    <div class="wimg">
                      <img src="../assests/images/michael.png" alt="michael" />
                    </div>
                    <div class="wdetail">
                      <span>Michael</span>
                      <p>Player</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sports-amb asa">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h2 class="heading">SPORTS AMBASSADORS</h2>
            <div class="heading-line"></div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-4">
            <div class="single-amb mb-5">
              <img src="../assests/images/amb.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Ishmail Wainwright</h6>
                <p class="text">
                  National Basketball Association (NBA) outfit Phoenix Suns
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-amb mb-5">
              <img src="../assests/images/amb1.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Mustafa Kizza</h6>
                <p class="text">
                  Major Soccer League (MLS) club Montreal Impact
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-amb mb-5">
              <img src="../assests/images/amb2.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Micheal Azira</h6>
                <p class="text">
                  United Soccer League championship club New Mexico
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-amb mt-5">
              <img src="../assests/images/amb3.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Edward Kizza</h6>
                <p class="text">Major Soccer League (MLS) club Edward Kizza</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-amb mt-5">
              <img src="../assests/images/amb4.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Ibrahim Sekagya</h6>
                <p class="text">
                  United Soccer League championship club New York RedBulls II
                  assistant coach
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-amb mt-5">
              <img src="../assests/images/amb5.jpg" alt="amb" />
              <div class="amb-text">
                <h6>Roy Mubiru</h6>
                <p class="text">
                  US-based <br />
                  Powerlifter
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row footer-r">
          <div class="col-md-2">
            <a href="#"
              ><img src="../assests/images/logo.png" alt="logo" width="134"
            /></a>
            <div class="social d-flex mt-4">
              <a class="me-2" href="#"
                ><img src="../assests/images/facebook.png" alt="facebook"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/twitter.png" alt="twitter"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/instagram.png" alt="instagram"
              /></a>
            </div>
          </div>

          <div class="col-md-4">
            <p class="f-text">Donate to our Charity Project</p>
            <form class="donate-frm" action="donate">
              <select name="donate" id="donate">
                <option value="volvo">Select Ammount</option>
                <option value="saab">$400</option>
                <option value="mercedes">$300</option>
                <option value="audi">$200</option>
              </select>
              <input type="submit" value="DONATE NOW" />
            </form>
          </div>

          <div class="col-md-4">
            <p class="f-text">
              EMAIL- Saunasports@outlook.com <br />
              Phone No - +1 (647) 830-7114 +1 (437) 770-2280
            </p>
            <p class="f-text">
              77 Finch Avenue East, North York, Apartment 822 <br />
              City: Toronto, Ontario Province <br />
              Postal Code: M4C 5N
            </p>
          </div>
        </div>

        <div class="row mt-5 py-2 copyright-bar">
          <div class="col-md-12 text-center">
            <p class="f-text">All © Copyrights are reserved 2022</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      $(document).ready(function () {
        $(".owl-next").prepend(
          ' <img src="../assests/images/arrow-right.png" /> '
        );
        $(".owl-prev").prepend(
          ' <img src="../assests/images/arrow-left.png" /> '
        );
      });
    </script>

    <script >
      $("#what-they-say").owlCarousel({
        item: 3,
        margin: 10,
        autoHeight: true,
        autoplay: false,
        autoplayTimeout: 5000,
        smartSpeed: 1000,
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>
