<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assests/scss/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
  </head>
  <body>
    <section>
      <div class="ban-overlay">
        <header>
            <nav class="custom-nav">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="../index.html">HOME</a>
                          </li>
                          <li class="n-link">
                            <a href="about.html">ABOUT US</a>
                          </li>
                          <li class="n-link">
                            <a href="latest-developments.html">DEVELOPMENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="health-fitness.html">HEALTH & FITNESS</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="nav-logo text-center">
                        <a href="../index.html"
                          ><img
                            src="../assests/images/logo.png"
                            alt="logo"
                            width="133"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="gallery.html">GALLERY</a>
                          </li>
                          <li class="n-link">
                            <a href="shop.html">SHOP</a>
                          </li>
                          <li class="n-link">
                            <a href="events.html">EVENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="contact.html">CONTACT US</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
      </div>
    </section>

    <section class="contact-sec">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <div class="heading">Get In Touch</div>
            <div class="heading-line mx-auto"></div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md-4">
            <div class="single-contact-menus me-4">
              <img src="../assests/images/telephone.png" alt="telephone-icon" />
              <p class="card-text">
                +1 (647) 830-7114 <br />
                +1 (437) 770-2280
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-contact-menus yl-sec mx-2">
              <img
                src="../assests/images/location-pin.png"
                alt="telephone-icon"
              />
              <p class="card-text">
                77 Finch Avenue East, North York, City: Toronto, Ontario
                Province Postal Code: M4C 5N
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-contact-menus ms-4">
              <img src="../assests/images/email.png" alt="telephone-icon" />
              <p class="card-text">saunasports@outlook.com</p>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-6">
            <div class="mship-form me-5">
              <form action="membership">
                <div class="d-flex">
                  <div class="me-2 nmf">
                    <label for="name">First Name</label>
                    <input type="text" />
                  </div>
                  <div class="ms-2 nmf">
                    <label for="lname">Surname</label>
                    <input type="text" />
                  </div>
                </div>
                <label for="email">Email</label>
                <input type="email" />
                <label for="phone-number">Message</label>
                <textarea
                  name="user-message"
                  id="u-msg"
                  cols="30"
                  rows="10"
                ></textarea>
                <input type="submit" class="rg-btn" value="SUBMIT" />
              </form>
            </div>
          </div>

          <div class="col-md-6">
            <div class="map-sec ms-5">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25528.492806795726!2d174.75404222244984!3d-36.88887457453376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C%20New%20Zealand!5e0!3m2!1sen!2sin!4v1646030684797!5m2!1sen!2sin"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="donate-banner-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="dbf-main">
              <div class="t-side">
                <h2 class="heading">
                  Donate to our <br />
                  <span style="color: #ffd807">Charity</span> Projects
                </h2>
              </div>
              <div class="frm-side">
                <form class="donate-frm" action="donate">
                  <select name="donate" id="donate">
                    <option value="volvo">Select Ammount</option>
                    <option value="saab">$400</option>
                    <option value="mercedes">$300</option>
                    <option value="audi">$200</option>
                  </select>
                  <input type="submit" value="DONATE NOW" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row footer-r">
          <div class="col-md-2">
            <a href="#"
              ><img src="../assests/images/logo.png" alt="logo" width="134"
            /></a>
            <div class="social d-flex mt-4">
              <a class="me-2" href="#"
                ><img src="../assests/images/facebook.png" alt="facebook"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/twitter.png" alt="twitter"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/instagram.png" alt="instagram"
              /></a>
            </div>
          </div>

          <div class="col-md-4">
            <p class="f-text">Donate to our Charity Project</p>
            <form class="donate-frm" action="donate">
              <select name="donate" id="donate">
                <option value="volvo">Select Ammount</option>
                <option value="saab">$400</option>
                <option value="mercedes">$300</option>
                <option value="audi">$200</option>
              </select>
              <input type="submit" value="DONATE NOW" />
            </form>
          </div>

          <div class="col-md-4">
            <p class="f-text">
              EMAIL- Saunasports@outlook.com <br />
              Phone No - +1 (647) 830-7114 +1 (437) 770-2280
            </p>
            <p class="f-text">
              77 Finch Avenue East, North York, Apartment 822 <br />
              City: Toronto, Ontario Province <br />
              Postal Code: M4C 5N
            </p>
          </div>
        </div>

        <div class="row mt-5 py-2 copyright-bar">
          <div class="col-md-12 text-center">
            <p class="f-text">All © Copyrights are reserved 2022</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
