<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Events</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assests/scss/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
  </head>

  <body>
    <section class="evnts-hero-section">
      <div class="ban-overlay">
        <header>
            <nav class="custom-nav">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="../index.html">HOME</a>
                          </li>
                          <li class="n-link">
                            <a href="about.html">ABOUT US</a>
                          </li>
                          <li class="n-link">
                            <a href="latest-developments.html">DEVELOPMENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="health-fitness.html">HEALTH & FITNESS</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="nav-logo text-center">
                        <a href="../index.html"
                          ><img
                            src="../assests/images/logo.png"
                            alt="logo"
                            width="133"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="gallery.html">GALLERY</a>
                          </li>
                          <li class="n-link">
                            <a href="shop.html">SHOP</a>
                          </li>
                          <li class="n-link">
                            <a href="events.html">EVENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="contact.html">CONTACT US</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
        </header>

        <section class="hero-banner">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="banner-txt-heading">
                  <div>
                    <h1>EVENTS</h1>
                    <div class="banner-heading-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section class="health-tips">
      <div class="container">
        <div class="row mb3">
          <div class="col-md-12">
            <h2 class="heading">Our Events</h2>
            <div class="heading-line"></div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>

        <div class="row mt-5 mb-3">
          <div class="col-md-6">
            <div class="single-health-tip d-flex align-items-center">
              <div class="ht-content evnnt pd-evnt">
                <span class="sec-title">SAUNA Events</span>
                <h4>SAUNA COMMUNITY RUN</h4>
                <div class="date-venue">
                  <p class="dtv">22 JAN 2022</p>
                  <p class="dtv">Venue: Qatar</p>
                </div>
                <p class="text">
                  The SAUNA Community Run precedes the annual sports festival.
                  This is open to all Ugandans and locals. It’s organized over
                  5km and 10km.
                </p>
                <div class="bk-btn">
                  <a href="#">BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/shw.png" alt="health-tips" />
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-3">
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/shw1.png" alt="health-tips" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-health-tip d-flex align-items-center">
              <div class="ht-content evnnt pd-evnt1">
                <span class="sec-title">SAUNA SPORTS FESTIVAL</span>
                <h4>SAUNA COMMUNITY RUN</h4>
                <div class="date-venue">
                  <p class="dtv">18 FEB 2022</p>
                  <p class="dtv">Venue: Qatar</p>
                </div>
                <p class="text">
                  The SAUNA sports festival incorporates games in:
                </p>
                <ul class="d-flex justify-content-between">
                  <div>
                    <li>
                      <p class="li-txt">Football</p>
                    </li>
                    <li>
                      <p class="li-txt">Tennis</p>
                    </li>
                    <li>
                      <p class="li-txt">Omweso</p>
                    </li>
                    <li>
                      <p class="li-txt">Vollyball</p>
                    </li>
                  </div>
                  <div class="ms-5">
                    <li>
                      <p class="li-txt">Basketball</p>
                    </li>
                    <li>
                      <p class="li-txt">Badminton</p>
                    </li>
                    <li>
                      <p class="li-txt">Dodging</p>
                    </li>
                    <li>
                      <p class="li-txt">Netball</p>
                    </li>
                  </div>
                </ul>
                <div class="bk-btn">
                  <a href="#">BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-6">
            <div class="single-health-tip d-flex align-items-center">
              <div class="ht-content evnnt pd-evnt">
                <span class="sec-title">SAUNA KIDS HEALTH CAMP</span>
                <h4>SAUNA COMMUNITY RUN</h4>
                <div class="date-venue">
                  <p class="dtv">28 DEC 2022</p>
                  <p class="dtv">Venue: Qatar</p>
                </div>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice.
                </p>
                <div class="bk-btn">
                  <a href="#">BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/shq2.png" alt="health-tips" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="donate-banner-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="dbf-main">
              <div class="t-side">
                <h2 class="heading">
                  Donate to our <br />
                  <span style="color: #ffd807">Charity</span> Projects
                </h2>
              </div>
              <div class="frm-side">
                <form class="donate-frm" action="donate">
                  <select name="donate" id="donate">
                    <option value="volvo">Select Ammount</option>
                    <option value="saab">$400</option>
                    <option value="mercedes">$300</option>
                    <option value="audi">$200</option>
                  </select>
                  <input type="submit" value="DONATE NOW" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="activity-in-uganda">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="heading">SAUNA Activities in Uganda</div>
            <div class="heading-line"></div>
          </div>
        </div>

        <div class="row mt-3 pb-5 bdr-l">
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/aiu.png" alt="aiu" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-health-tip aiu-height d-flex align-items-center">
              <div class="ht-content evnnt aiu-pd">
                <h4>
                  Tristique senectus et netus et malesuada. Nec sagittis aliquam
                  malesuada bibendum arcu
                </h4>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice.Habitasse
                  platea dictumst vestibulum rhoncus est pellentesque elit
                  ullamcorper dignissim. Mauris cursus mattis molestie. A
                  iaculis at erat pellentesque adipiscing. Vulputate eu
                  scelerisque felis imperdiet proin fermentum leo. Feugiat
                  scelerisque varius morbi enim nunc faucibus a pellentesque.
                  Lorem sed risus ultricies tristique nulla. Neque viverra justo
                  nec ultrices. Nunc sed blandit libero volutpat sed cras ornare
                  arcu. Sit amet porttitor eget dolor morbi non. Molestie ac
                  feugiat sed lectus vestibulum mattis ullamcorper. Sed risus
                  ultricies tristique nulla aliquet enim. Natoque penatibus et
                  magnis dis parturient montes nascetur ridiculus mus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 py-5 bdr-l">
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/aiu1.png" alt="aiu" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-health-tip aiu-height d-flex align-items-center">
              <div class="ht-content evnnt aiu-pd">
                <h4>
                  Tristique senectus et netus et malesuada. Nec sagittis aliquam
                  malesuada bibendum arcu
                </h4>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice.Habitasse
                  platea dictumst vestibulum rhoncus est pellentesque elit
                  ullamcorper dignissim. Mauris cursus mattis molestie. A
                  iaculis at erat pellentesque adipiscing. Vulputate eu
                  scelerisque felis imperdiet proin fermentum leo. Feugiat
                  scelerisque varius morbi enim nunc faucibus a pellentesque.
                  Lorem sed risus ultricies tristique nulla. Neque viverra justo
                  nec ultrices. Nunc sed blandit libero volutpat sed cras ornare
                  arcu. Sit amet porttitor eget dolor morbi non. Molestie ac
                  feugiat sed lectus vestibulum mattis ullamcorper. Sed risus
                  ultricies tristique nulla aliquet enim. Natoque penatibus et
                  magnis dis parturient montes nascetur ridiculus mus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 pt-5">
          <div class="col-md-6">
            <div class="ht-img">
              <img src="../assests/images/aiu2.png" alt="aiu" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-health-tip aiu-height d-flex align-items-center">
              <div class="ht-content evnnt aiu-pd">
                <h4>
                  Tristique senectus et netus et malesuada. Nec sagittis aliquam
                  malesuada bibendum arcu
                </h4>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice.Habitasse
                  platea dictumst vestibulum rhoncus est pellentesque elit
                  ullamcorper dignissim. Mauris cursus mattis molestie. A
                  iaculis at erat pellentesque adipiscing. Vulputate eu
                  scelerisque felis imperdiet proin fermentum leo. Feugiat
                  scelerisque varius morbi enim nunc faucibus a pellentesque.
                  Lorem sed risus ultricies tristique nulla. Neque viverra justo
                  nec ultrices. Nunc sed blandit libero volutpat sed cras ornare
                  arcu. Sit amet porttitor eget dolor morbi non. Molestie ac
                  feugiat sed lectus vestibulum mattis ullamcorper. Sed risus
                  ultricies tristique nulla aliquet enim. Natoque penatibus et
                  magnis dis parturient montes nascetur ridiculus mus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <a class="see-all" href="#"
              >See All <img src="../assests/images/da.png" alt="down-arrow"
            /></a>
          </div>
        </div>
      </div>
    </section>

    <section class="img-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="oop">
              <div>
                <h2 class="heading">Image Gallery</h2>
                <div class="heading-line"></div>
              </div>
              <div>
                <div class="vl">
                  <a href="#"
                    >View All
                    <img src="../assests/images/ra.png" alt="right-arrow"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="img-gallery-slider">
              <div class="owl-carousel owl-theme" id="img-gallery-slider">
                <div class="item">
                  <img
                    src="../assests/images/g-img.png"
                    alt="gallery-img-one"
                  />
                </div>

                <div class="item">
                  <img
                    src="../assests/images/g-img1.png"
                    alt="gallery-img-two"
                  />
                </div>

                <div class="item">
                  <img
                    src="../assests/images/g-img2.png"
                    alt="gallery-img-the"
                  />
                </div>

                <div class="item">
                  <img
                    src="../assests/images/g-img3.png"
                    alt="gallery-img-fo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row footer-r">
          <div class="col-md-2">
            <a href="#"
              ><img src="../assests/images/logo.png" alt="logo" width="134"
            /></a>
            <div class="social d-flex mt-4">
              <a class="me-2" href="#"
                ><img src="../assests/images/facebook.png" alt="facebook"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/twitter.png" alt="twitter"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/instagram.png" alt="instagram"
              /></a>
            </div>
          </div>

          <div class="col-md-4">
            <p class="f-text">Donate to our Charity Project</p>
            <form class="donate-frm" action="donate">
              <select name="donate" >
                <option value="volvo">Select Ammount</option>
                <option value="saab">$400</option>
                <option value="mercedes">$300</option>
                <option value="audi">$200</option>
              </select>
              <input type="submit" value="DONATE NOW" />
            </form>
          </div>

          <div class="col-md-4">
            <p class="f-text">
              EMAIL- Saunasports@outlook.com <br />
              Phone No - +1 (647) 830-7114 +1 (437) 770-2280
            </p>
            <p class="f-text">
              77 Finch Avenue East, North York, Apartment 822 <br />
              City: Toronto, Ontario Province <br />
              Postal Code: M4C 5N
            </p>
          </div>
        </div>

        <div class="row mt-5 py-2 copyright-bar">
          <div class="col-md-12 text-center">
            <p class="f-text">All © Copyrights are reserved 2022</p>
          </div>
        </div>
      </div>
    </footer>

    <script >
      $("#img-gallery-slider").owlCarousel({
        item: 4,
        margin: 0,
        autoHeight: true,
        autoplay: true,
        autoplayTimeout: 5000,
        smartSpeed: 1000,
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 2,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 4,
          },
        },
      });
    </script>
  </body>
</html>
