<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Latest Developments</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assests/scss/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
  </head>
  <body>
    <section class="ld-hero-section">
      <div class="ban-overlay">
        <header>
            <nav class="custom-nav">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="../index.html">HOME</a>
                          </li>
                          <li class="n-link">
                            <a href="about.html">ABOUT US</a>
                          </li>
                          <li class="n-link">
                            <a href="latest-developments.html">DEVELOPMENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="health-fitness.html">HEALTH & FITNESS</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="nav-logo text-center">
                        <a href="../index.html"
                          ><img
                            src="../assests/images/logo.png"
                            alt="logo"
                            width="133"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="gallery.html">GALLERY</a>
                          </li>
                          <li class="n-link">
                            <a href="shop.html">SHOP</a>
                          </li>
                          <li class="n-link">
                            <a href="events.html">EVENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="contact.html">CONTACT US</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
        </header>

        <section class="hero-banner">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="banner-txt-heading">
                  <div>
                    <h1>DEVELOPMENTS</h1>
                    <div class="banner-heading-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <div class="ls-development">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="heading">Latest Developments</h2>
            <div class="heading-line"></div>
          </div>
        </div>

        <div class="row mt-3 mb-5">
          <div class="col-md-6">
            <div class="single-ld-post me-5">
              <img
                class="ld-img"
                src="../assests/images/ld1.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-ld-post ms-5">
              <img
                class="ld-img"
                src="../assests/images/ld2.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 my-5">
          <div class="col-md-6">
            <div class="single-ld-post me-5">
              <img
                class="ld-img"
                src="../assests/images/ld3.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-ld-post ms-5">
              <img
                class="ld-img"
                src="../assests/images/ld4.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mt-5">
          <div class="col-md-6">
            <div class="single-ld-post me-5">
              <img
                class="ld-img"
                src="../assests/images/ld5.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-ld-post ms-5">
              <img
                class="ld-img"
                src="../assests/images/ld6.png"
                alt="latest-development-post1"
              />
              <div class="ld-content">
                <div class="d-flex justify-content-between mt-3">
                  <div class="hov">
                    <img src="../assests/images/echi.png" alt="image" />
                    <div class="hov-detail">
                      <span>Echillus Mpiima</span>
                      <p>Head of Visuals</p>
                    </div>
                  </div>
                  <div class="p-time">
                    <p>5 Min read - May 2021</p>
                  </div>
                </div>
                <h6>
                  Vulputate eu scelerisque felis imperdiet proin fermentum leo.
                </h6>
                <p class="text">
                  The SAUNA Kids Health Camp offers an opportunity for kids to
                  play football and any other games of their choice enim nunc
                  faucibus a pellentesque. Neque viverra justo nec ultrices
                  Neque viverra justo nec ultrices.
                </p>
                <div class="rd-more">
                  <a href="#"
                    >Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <a class="see-all" href="#"
              >See All <img src="../assests/images/da.png" alt="down-arrow"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row footer-r">
          <div class="col-md-2">
            <a href="#"
              ><img src="../assests/images/logo.png" alt="logo" width="134"
            /></a>
            <div class="social d-flex mt-4">
              <a class="me-2" href="#"
                ><img src="../assests/images/facebook.png" alt="facebook"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/twitter.png" alt="twitter"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/instagram.png" alt="instagram"
              /></a>
            </div>
          </div>

          <div class="col-md-4">
            <p class="f-text">Donate to our Charity Project</p>
            <form class="donate-frm" action="donate">
              <select name="donate" id="donate">
                <option value="volvo">Select Ammount</option>
                <option value="saab">$400</option>
                <option value="mercedes">$300</option>
                <option value="audi">$200</option>
              </select>
              <input type="submit" value="DONATE NOW" />
            </form>
          </div>

          <div class="col-md-4">
            <p class="f-text">
              EMAIL- Saunasports@outlook.com <br />
              Phone No - +1 (647) 830-7114 +1 (437) 770-2280
            </p>
            <p class="f-text">
              77 Finch Avenue East, North York, Apartment 822 <br />
              City: Toronto, Ontario Province <br />
              Postal Code: M4C 5N
            </p>
          </div>
        </div>

        <div class="row mt-5 py-2 copyright-bar">
          <div class="col-md-12 text-center">
            <p class="f-text">All © Copyrights are reserved 2022</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
