<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assests/scss/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
  </head>
  <body>
    <section class="shop-hero-section">
      <div class="ban-overlay">
        <header>
            <nav class="custom-nav">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="../index.html">HOME</a>
                          </li>
                          <li class="n-link">
                            <a href="about.html">ABOUT US</a>
                          </li>
                          <li class="n-link">
                            <a href="latest-developments.html">DEVELOPMENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="health-fitness.html">HEALTH & FITNESS</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="nav-logo text-center">
                        <a href="../index.html"
                          ><img
                            src="../assests/images/logo.png"
                            alt="logo"
                            width="133"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="menus">
                        <ul class="d-flex m-list">
                          <li class="n-link">
                            <a href="gallery.html">GALLERY</a>
                          </li>
                          <li class="n-link">
                            <a href="shop.html">SHOP</a>
                          </li>
                          <li class="n-link">
                            <a href="events.html">EVENTS</a>
                          </li>
                          <li class="n-link">
                            <a href="contact.html">CONTACT US</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
        </header>

        <section class="hero-banner">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="banner-txt-heading">
                  <div>
                    <h1>SHOP</h1>
                    <div class="banner-heading-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section class="ms-slider">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="heading">
              <div class="heading">Most Selling</div>
              <div class="heading-line"></div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="ms-slider-in">
              <div class="owl-carousel owl-theme" id="ms-slider">
                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/blue-tshirt.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/red-tshirt.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/red-shirt-two.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/white-tshirt.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/dual-side-tshirt.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="single-product">
                    <div class="d-flex justify-content-between">
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/expand.png" alt="expand"
                        /></a>
                      </div>
                      <div class="scale-btn">
                        <a href="#"
                          ><img src="../assests/images/bag.png" alt="bag"
                        /></a>
                      </div>
                    </div>
                    <div class="pp-img-slider">
                      <img
                        class="product-img"
                        src="../assests/images/shandow.png"
                        alt="tshirt"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="explore-products">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="heading">Explore Our Products</div>
            <div class="heading-line"></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="single-product min-hh mt-5 me-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <span class="sl-t me-3">Sale</span>
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  id="product-img"
                  class="product-img prod-img"
                  src="../assests/images/blue-tshirt.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text">
              <h6>MEN BLUE POLO</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$149.00</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-product min-hh mt-5 ms-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  
                  class="product-img"
                  src="../assests/images/red-tshirt.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text ms-5">
              <h6>MEN RED POLO</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$199.00</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-product min-hh mt-5 me-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  
                  class="product-img"
                  src="../assests/images/red-shirt-two.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text">
              <h6>SAUNA Alternative Shade</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$138.00</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-product min-hh mt-5 ms-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  
                  class="product-img"
                  src="../assests/images/white-tshirt.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text ms-5">
              <h6>SAUNA Kit</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$187.00</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-product min-hh mt-5 me-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  class="product-img"
                  src="../assests/images/dual-side-tshirt.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text">
              <h6>SAUNA Polo Kit</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$151.00</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-product min-hh mt-5 ms-5">
              <div class="d-flex justify-content-between">
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/expand.png" alt="expand"
                  /></a>
                </div>
                <div class="scale-btn">
                  <a href="#"
                    ><img src="../assests/images/bag.png" alt="bag"
                  /></a>
                </div>
              </div>
              <div class="pp-img">
                <img
                  
                  class="product-img"
                  src="../assests/images/shandow.png"
                  alt="tshirt"
                />
              </div>
            </div>
            <div class="product-text ms-5">
              <h6>SAUNA White Vest</h6>
              <p class="text">
                Posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper
              </p>
              <span>$94.00</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row footer-r">
          <div class="col-md-2">
            <a href="#"
              ><img src="../assests/images/logo.png" alt="logo" width="134"
            /></a>
            <div class="social d-flex mt-4">
              <a class="me-2" href="#"
                ><img src="../assests/images/facebook.png" alt="facebook"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/twitter.png" alt="twitter"
              /></a>
              <a class="me-2" href="#"
                ><img src="../assests/images/instagram.png" alt="instagram"
              /></a>
            </div>
          </div>

          <div class="col-md-4">
            <p class="f-text">Donate to our Charity Project</p>
            <form class="donate-frm" action="donate">
              <select name="donate" id="donate">
                <option value="volvo">Select Ammount</option>
                <option value="saab">$400</option>
                <option value="mercedes">$300</option>
                <option value="audi">$200</option>
              </select>
              <input type="submit" value="DONATE NOW" />
            </form>
          </div>

          <div class="col-md-4">
            <p class="f-text">
              EMAIL- Saunasports@outlook.com <br />
              Phone No - +1 (647) 830-7114 +1 (437) 770-2280
            </p>
            <p class="f-text">
              77 Finch Avenue East, North York, Apartment 822 <br />
              City: Toronto, Ontario Province <br />
              Postal Code: M4C 5N
            </p>
          </div>
        </div>

        <div class="row mt-5 py-2 copyright-bar">
          <div class="col-md-12 text-center">
            <p class="f-text">All © Copyrights are reserved 2022</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" />
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById("product-img");
      var modalImg = document.getElementById("img01");
      document.getElementById("product-img").onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      };

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      };
    </script>

    <script >
      $("#ms-slider").owlCarousel({
        item: 4,
        margin: 10,
        autoHeight: true,
        autoplay: true,
        autoplayTimeout: 5000,
        smartSpeed: 1000,
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 4,
          },
        },
      });
    </script>
  </body>
</html>
